.controls {
  margin-top: 1em;
  padding: 0em;
  overflow: auto;
}

.ai-button, #feedback-container {
  font-size: 20;
}

#run-button-container {
  float: right;
  font-family: "微软雅黑", "微软雅黑", Arial, sans-serif;
}

#hint-button-container, #feedback-container {
  float: left;
  font-family: "微软雅黑", "微软雅黑", Arial, sans-serif;
}

#feedback-container {
  margin-left: 1em;
  font-weight: bold;
}
